body {
  background-color: rgb(38, 73, 137);
}

body.incognito {
  background-color: #000000;
}

.bordered {
	border: 1px solid;
}

head {
  background-color: rgb(49, 82, 115);
  width: 100%;
}

head.incognito {
  background-color: #000000;
  width: 100%;
}

div.main_layer {
	background-color: rgb(71, 102, 166);
	padding: 20px 10px 0px 10px;
	width: calc(100% - 30px);
	height: calc(attr(height) + 50px);
	display: flex;
	border-style: solid;
	border-width: 5px;
	border-image: linear-gradient(0deg, rgb(148,166,202) calc(100% - 2px), rgb(148,166,202), rgb(38, 73, 137)) 1;
	box-shadow: 4px 7px 1px rgb(29, 55, 102);
}

div.main_layer-incognito {
	background-color: #121711;
	padding: 20px 10px 0px 10px;
	width: calc(100% - 30px);
	height: calc(attr(height) + 50px);
	display: flex;
	border-style: solid;
	border-width: 2px;
	box-shadow: 4px 7px 1px rgb(29, 55, 102);
}

div.nav-incognito {
	background-color: #1e2b1b;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-top: 15px;
	position: relative;
	bottom: 10px;
	
	width: 300px;
}

div.nav {
	background-color: rgb(238, 238, 227);
	padding-bottom: 10px;
	padding-left: 0px;
	padding-top: 15px;
	position: relative;
	bottom: 10px;
	
	width: 300px;
}

div.page_dis {
	background-color: rgb(255, 255, 255);
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 15px;
	position: relative;
	bottom: 10px;
	
	width: 100%;
}

div.page_dis-incognito {
	background-color: #4a4f49;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 15px;
	position: relative;
	bottom: 10px;
	
	width: 100%;
}

textarea {
	width: calc(100% - 10px);
	resize: none;
}

table.nav {
	background-color: rgb(238, 238, 227);
}

th {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12px;
	padding-top: 10px;
}

div.l1 {
	background-color: rgb(161, 175, 204);
	padding: 0.1% 0px;
}


p {
  color: #000000;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  color: #000000;
  font-family: 'Trebuchet MS', sans-serif;
}

h2 {
  color: #000000;
  font-family: 'Trebuchet MS', sans-serif;
}

a {
	cursor: pointer;
	color: #0000FF;
	text-decoration: underline;
}

footer.bottom {
	color: #000000;
	padding-top: 5px;
	padding-bottom: 7px;
	background-image: url("greengradient.png");
	display: flex;
	box-shadow: 4px 7px 1px rgb(29, 55, 102);
}

.flexo {
	display: flex;
}

footer.type-2 {
	color: #000000;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 7px;
	background-image: url("whitegradient.png");
	display: flex;
	box-shadow: 0px 0px 0px rgb(29, 55, 102);
}

li {
  color: 0x112233;
  font-family:verdana;
  font-size: 12px;
}

img.logo {
	position: relative;
	bottom: 75px;
	left: calc(50% - 96px);
}

.constructionText {
	position: relative;
	bottom: 75px;
	left: calc(50% - 285px);
}

canvas.construction {
	
}

canvas.conwaynav {
  background-color: #3D99CE;
  text-align: center;
  width: 100%;
  height: 100px;
}

canvas.conwaynav-incognito {
  background-color: #141713;
  text-align: center;
  width: 100%;
  height: 100px;
}



@media only screen and (max-width: 1000px) {
	div.main_layer {
		display: block;
	}
	div.nav {
		width: 100%;
	}
	object {
		width: 100%;
	}
	table {
		width: 100%
	}
	div.page_dis {
		width: calc(100% - 30px);
	}
}

@media only screen and (max-width: 906px) {
	footer.bottom {
		background-image: url("greengradientL.png");
	}
}

@media only screen and (max-width: 467px) {
	footer.bottom {
		background-image: url("greengradientXL.png");
	}
}